<?xml version="1.0" encoding="UTF-8"?>
<phpunit bootstrap="vendor/autoload.php"
         stopOnFailure="false">
    <testsuites>
        <testsuite name="Process Module Test">
            <directory>./tests/Process/</directory>
        </testsuite>
        <testsuite name="Http Module Test">
            <directory>./tests/Http/</directory>
        </testsuite>
    </testsuites>
</phpunit>